name: Melinda node tests

on: push

jobs:
  openshift-webhook:
    name: OpenShift webhook for image builder
    runs-on: ubuntu-latest

    steps:
    - name: Test webhook
      uses: joelwmale/webhook-action@master
      if: github.ref == 'refs/heads/test'
      with:
        url: ${{ secrets.WEBHOOK_URL_TEST }}
        body: '{}'
    - name: Prod webhook
      uses: joelwmale/webhook-action@master
      if: github.ref == 'refs/heads/main'
      with:
        url: ${{ secrets.WEBHOOK_URL_PROD }}
        body: '{}'